/* Font definitions */

@font-face {
  font-family: 'Dupla';
  src: url('fonts/Dupla-ThinThin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dupla';
  src: url('fonts/Dupla-LightLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dupla';
  src: url('fonts/Dupla-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dupla';
  src: url('fonts/Dupla-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Dupla';
  src: url('fonts/Dupla-BookBook.woff2') format('woff2');
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dupla';
  src: url('fonts/Dupla-DemiboldDemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dupla';
  src: url('fonts/Dupla-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dupla';
  src: url('fonts/Dupla-HeavyHeavy.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dupla';
  src: url('fonts/Dupla-BlackBlack.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trepa';
  src: url('fonts/Trepa.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trepa Wood';
  src: url('fonts/Trepa-Wood.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trepa Noise';
  src: url('fonts/Trepa-Noise.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Kapra Neue */
@font-face {
  font-family: 'Kapra Neue';
  src: url('fonts/338101_1_0.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kapra Neue';
  src: url('fonts/338101_2_0.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kapra Neue';
  src: url('fonts/338101_9_0.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kapra Neue';
  src: url('fonts/338101_4_0.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
